@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'GeitSans', Helvetica, sans-serif;
}



:root {
  --background: 200.4 100% 97%;
  --foreground: 200.4 5% 10%;
  --card: 200.4 50% 97%;
  --card-foreground: 200.4 5% 15%;
  --popover: 200.4 100% 97%;
  --popover-foreground: 200.4 100% 10%;
  --primary: 200.4 98% 39.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 200.4 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 162.4 30% 95%;
  --muted-foreground: 200.4 5% 40%;
  --accent: 162.4 30% 90%;
  --accent-foreground: 200.4 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 200.4 5% 97%;
  --border: 200.4 30% 82%;
  --input: 200.4 30% 50%;
  --ring: 200.4 98% 39.4%;
  --radius: 0.3rem;
}

.dark {
  --background: 200.4 50% 10%;
  --foreground: 200.4 5% 97%;
  --card: 200.4 50% 10%;
  --card-foreground: 200.4 5% 97%;
  --popover: 200.4 50% 5%;
  --popover-foreground: 200.4 5% 97%;
  --primary: 200.4 98% 39.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 200.4 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 162.4 30% 25%;
  --muted-foreground: 200.4 5% 65%;
  --accent: 162.4 30% 25%;
  --accent-foreground: 200.4 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 200.4 5% 97%;
  --border: 200.4 30% 50%;
  --input: 200.4 30% 50%;
  --ring: 200.4 98% 39.4%;
  --radius: 0.3rem;
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4,
  p,
  body {
    @apply text-lg;
  }
}
