@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'GeitSans', Helvetica, sans-serif;
}





:root {
  --background: 182 94% 100%;
  --foreground: 182 5% 10%;
  --card: 182 50% 100%;
  --card-foreground: 182 5% 15%;
  --popover: 182 94% 100%;
  --popover-foreground: 182 95% 10%;
  --primary: 182 61% 74%;
  --primary-foreground: 0 0% 0%;
  --secondary: 182 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 144 30% 95%;
  --muted-foreground: 182 5% 40%;
  --accent: 144 30% 90%;
  --accent-foreground: 182 5% 15%;
  --destructive: 0 94% 50%;
  --destructive-foreground: 182 5% 100%;
  --border: 182 30% 82%;
  --input: 182 61% 84%;
  --ring: 182 61% 74%;
  --radius: 0.5rem;
}

.dark {
  --background: 182 50% 10%;
  --foreground: 182 5% 100%;
  --card: 182 50% 10%;
  --card-foreground: 182 5% 100%;
  --popover: 182 50% 5%;
  --popover-foreground: 182 5% 100%;
  --primary: 182 61% 74%;
  --primary-foreground: 0 0% 0%;
  --secondary: 182 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 144 30% 25%;
  --muted-foreground: 182 5% 65%;
  --accent: 144 30% 25%;
  --accent-foreground: 182 5% 95%;
  --destructive: 0 94% 50%;
  --destructive-foreground: 182 5% 100%;
  --border: 182 30% 50%;
  --input: 182 30% 50%;
  --ring: 182 61% 74%;
  --radius: 0.5rem;
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4,
  p,
  body {
    @apply text-lg;
  }
}
